<div class="max-w-4xl mx-auto">

  <div>
    <%= form_with(url: universities_path, data: { controller: "prefecture", turbo_frame: "university-lists"}, method: :get) do |f| %>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,
        { include_blank: "都道府県を選択してください", selected: params[:prefecture_id] },
        { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5", data: { action: "input->prefecture#submit"}}
      )%>
    <% end %>
  </div>

  <br>
  <%= turbo_frame_tag "university-lists" do %>
    <%= render @universities %>
  <% end %>
</div>
